body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
body {
    margin: 0;
    font-family: monospace;
    overflow-x: hidden;
    font-size: 14pt;
  }
/* ----- SrollBar ------- */
/* width */
::-webkit-scrollbar {
  width: 5pt;
}

/* Track */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5pt;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
/*---- NAVBAR -------*/
  .m_navbar {
    overflow: hidden;
    background-color: rgb(205, 226, 15);
    color: black;
    position: fixed;
    border-radius: 10pt 10pt 0pt 0pt;
    box-shadow: 0px -2pt 2pt -2pt #333;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
  
  .m_navbar a {
    color: inherit;
    position: relative;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15pt;
  }
  
  .m_navbar a:hover {
    background: #d4d1d1;
    color: black;
  }
  
  .m_navbar a.active {
    background-color:  #333;
    color: whitesmoke;
  }


  .m_navbar div {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15pt;
  }
  
  .m_navbar div:hover {
    background: #d4d1d1;
    color: black;
  }
  
  .m_navbar div.active {
    background-color:  #333;
    color: whitesmoke;
  }

  .m_navbar .icon {
    display: none;
  }  


  @media screen and (max-width: 600px) {

  .m_navbar a.active {
    position: relative;
    background-color:  #333;
    color: whitesmoke;
    width: 100%;
  }

    .m_navbar a {
      width: 100%; 
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15pt;
    }
    .m_navbar a:not(:first-child) {display: none;}
    .m_navbar div.icon {
      font-size: 15pt;
      width: 100%;
      height: 100%;
      background-color:  #333;
      display: flex;
      justify-content: center;
      color: rgb(205, 226, 15);
     
    }
  }
  
  @media screen and (max-width: 600px) {

    .profile_pic{
      filter: blur(5px);
    }

    .m_navbar.responsive .icon {
      font-size: 15pt;
      width: 100%;
      height: 100%;
      background-color:  #333;
      display: flex;
      justify-content: center;
      color: rgb(205, 226, 15);
    }

    .m_navbar.responsive a:not(:first-child) {display: flex;}
    .m_navbar.responsive a {
      display: flex;
      justify-content: center;
    }
  }
  
  /*---- NAVBAR -------*/

  .main {
    display:none;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
  }

  .m_container{
    width: 90% !important;
  }

  /*Content*/

  .content{
    padding-left: 5pt;
  }

  .title_text {
    margin-top: 10%;
    font-size: 65pt;
    font-weight: bold;
    font-family: monospace;
  }

  .profile_pic{
    position: absolute;
    width: auto;
    height: 100vh;
    margin-right: 0;
    margin-left: 45%;
    z-index: -1;
  }

  .brief_presentation{
    border-radius: 0pt 0pt 5pt 5pt;
    font-size: 16pt;
    color: gainsboro;
    background-color: #333333;
  }
  .role_text {
    color : #333333;
    grid-column: 1;
    grid-row: 2;
    font-size: 35pt;
  }

  .m_text_animation{
    animation-name: m_text_animation;
    animation-duration: 1s;
    animation-delay: 0s;
  }

  @keyframes m_text_animation {
    0%   {left:-100%}
    100% {left:0%}
  }

  .m_pic_animation{
    animation-name: m_pic_animation;
    animation-duration: 1s;
    animation-delay: 0s;
  }

  @keyframes m_pic_animation {
    0%   {top:-100%}
    100% {top:0%}
  }

  .m_navbar_animation{
    animation-name: m_nav_animation;
    animation-duration: 1s;
    animation-delay: 0s;
  }

  @keyframes m_nav_animation {
    0%   {bottom:-100%}
    100% {bottom:0%}
  }

  /* NavBar open and close animation */

  @keyframes m_nav_open_animation {
    0%   {width:10%}
    100% {bottom:100%}
  }

  .m_navbar_open_animation{
    animation-name: m_nav_open_animation;
    animation-duration: 0.5s;
    animation-delay: 0s;
  }

  @keyframes m_nav_open_animation {
    0%   {bottom:-100%}
    100% {bottom:0%}
  }

  .m_navbar_close_animation{
    animation-name: m_nav_close_animation;
    animation-duration: 0.5s;
    animation-delay: 0s;
  }

  @keyframes m_nav_close_animation {
    0%   {bottom:0%}
    100% {bottom:-100%}
  }

  /* NavBar open and close animation */


  @media screen and (max-width: 600px) {
    
    .m_container{
      width: 100% !important;
    }
    .title_text {
      margin-top: 10%;
      font-size: 30pt;
      font-weight: bold;
      font-family: monospace;
    }
    .profile_pic{
      overflow-x: hidden;
      overflow: hidden;
      position: absolute;
      height: 100%;
      margin-left: 30%;
      z-index: -1;
      object-fit: cover;
    }
    .role_text {
      color : #333333;
      font-size: 20pt;
    }
    .brief_presentation{
      font-size: 12pt;
      color: gainsboro;
      background-color: #333333;
    }
    
  }

  .m_icon{
    margin-top: 8pt;
    margin-right: 0.1%;
    font-size: 2rem!important;
    
  }

  /* Arrow  */
  .arrow-right {
    border: solid black;
    width: 20pt;
    height: 20pt;
    border-width: 0 3pt 3pt 0;
    border-radius: 2pt;
    display: flex;
    justify-content: flex-start;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
   
  }
  
  .m_arrow_animation{
    animation-name: arrow_animation;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }

  @keyframes arrow_animation {
    0%   {left:0%}
    100% {left:5%}
  }

  /* Begin Text */

  .begin_text{
    justify-content: flex-end;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
  }




  